service: lambda-test
provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: us-east-1
  memorySize: 128
  timeout: 3
functions:
  logger:
    handler: handler.logger
    events:
      -http:
        path: message
        method: get
